version: "3.9"

services:
  backend:
    image: rust:latest
    container_name: backend
    working_dir: /app
    volumes:
      - ./backend:/app
    command: cargo run
    depends_on:
      - db
    environment:
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: db
      JWT_SECRET: ${JWT_SECRET}
    # expose делает порт доступным другим контейнерам в сети compose,
    # по умолчанию возьмёт значение из .env (PORT). Дефолт 8081, если не задан.
    expose:
      - "${PORT:-8081}"
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    ports:
     - "5432:5432"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # IMPORTANT: не монтируем server-блоки в /etc/nginx/nginx.conf,
      # а кладём их в conf.d (как стандартный include).
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certbot/www:/var/www/certbot
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/var/www:/var/www/messanger-ren.ru
    depends_on:
      - backend
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certbot/www:/var/www/certbot
      - ./nginx/certbot/conf:/etc/letsencrypt
    # certbot должен запускаться после nginx, чтобы challenge был доступен.
    depends_on:
      - nginx
    command: >
      certonly --webroot
      --webroot-path=/var/www/certbot
      --email ${LETSENCRYPT_EMAIL}
      --agree-tos
      --no-eff-email
      -d ${DOMAIN}

volumes:
  postgres_data:
